.form-container {
    background-image: url("../assests/formBackground.png");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .form-div {
    text-align: center;
    padding: 30px 80px;
    background-color: rgba(255, 255, 255, 0.232);
    color: white;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    max-width: 600px;
    border-radius: 20px;
    min-width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-div input {
    color: white;
    border: none;
    background-color: transparent;
    padding-block: 10px;
    flex: 1;
    font-size: 18px;
  }
  
  .form-div input:focus-visible {
    outline: none;
    border: none;
  }
  
  .form-div input::placeholder {
    color: white;
    font-size: 18px;
  }
  
  .input-icons-div {
    border: 2px solid white;
    display: flex;
    gap: 13px;
    border-radius: 5px;
    padding-inline: 13px;
    margin-block: 22px;
    align-items: center;
  }
  
  .input-icons-div img,
  .input-icons-div svg {
    width: 27px;
    height: 27px;
  }
  
  .form-div button {
    color: white;
    width: 100%;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f35300;
    padding: 15px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .form-div span {
    color: #f35300;
    font-weight: bold;
  }
  
  .form-checkbox-div {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin-block: 20px;
    font-size: 16px;
  }
  .form-div p,
  .form-div h2 {
    margin-bottom: 0px !important;
  }
  .form-checkbox-div input {
    flex: none;
    width: 17px;
    height: 17px;
  }
  
  @media (min-width: 1200px) ,(min-width: 992px), (min-width: 768px),(min-width: 576px){
    .form-div {
      max-width: 600px !important;
      padding: 5rem !important;
  }
  }
  
  @media (max-width: 760px) {
    .form-div input {
      font-size: 15px;
    }
  
    .form-div input::placeholder {
      color: white;
      font-size: 15px;
    }
  }
  @media (max-width: 400px) {
    .form-div input {
      font-size: 13px;
    }
  
    .form-div input::placeholder {
      color: white;
      font-size: 13px;
    }
  
    .input-icons-div img,
    .input-icons-div svg {
      width: 22px;
      height: 22px;
    }
  
    .input-icons-div {
      padding-inline: 5px;
      gap: 10px;
    }
  }