.employee{
   color: #1499CA;
}
.num2{
   color: #1499CA !important;
}
.partener{
    color: #5DC3C3;
}
.num3{
    color: #5DC3C3 !important;
}
.internship{
    color:#F2704D;
}
.num1{
    color:#F2704D !important;
}
/* .row-company{
    margin-left: 5rem !important;
} */
