.Progress-img{
    width: -webkit-fill-available;
    padding: 1rem 3.8rem;
    
}
h5{
    font-size: 24px;
    font-family: poppins;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}
.Progress{
    margin-top: 24px;
}
