
h1{
    margin: 3rem  0rem !important;
}
.text{
    color: #ADB1B8 !important;
    font-size: 20px;
}
img{
    margin-left: 1rem !important;
}
.buttonGroup{
    background-color: #ff4600;
    border: 1px solid orangered;
}
.btn.active{
    background-color: #ff4600;
}